<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context 
        	http://www.springframework.org/schema/context/spring-context-3.0.xsd">
        	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/courier" />
		<property name="username" value="root" />
		<property name="password" value="password" />
	</bean>
	
	<bean id="personDAO" class="com.courier.tracking.dao.PersonDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="personService" class="com.courier.tracking.service.PersonService">
		<property name="personDAO" ref="personDAO" />
	</bean>
	
	<bean id="personController" class="com.courier.tracking.controller.PersonController">
		<property name="personService" ref="personService" />
	</bean>
	
	<bean id="helloWorldController" class="com.javacodegeeks.snippets.enterprise.HelloWorldController">
	</bean>

	<bean id="hijackBeforeMethodBeanAdvice" class="com.javacodegeeks.snippets.enterprise.HijackBeforeMethod" />

	<bean id="customerServiceProxy" 
                class="org.springframework.aop.framework.ProxyFactoryBean">

		<property name="target" ref="helloWorldController" />

		<property name="interceptorNames">
			<list>
				<value>customerAdvisor</value>
			</list>
		</property>
	</bean>

	<bean id="customerPointcut" 
                class="org.springframework.aop.support.NameMatchMethodPointcut">
		<property name="mappedName" value="printName" />
	</bean>

	<bean id="customerAdvisor" 
                 class="org.springframework.aop.support.DefaultPointcutAdvisor">
		<property name="pointcut" ref="customerPointcut" />
		<property name="advice" ref="hijackBeforeMethodBeanAdvice" />
	</bean>
</beans>