<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<http auto-config="true">
		<intercept-url pattern="/images/**" access="permitAll" />
		<intercept-url pattern="/scripts/**" access="permitAll" />
		<intercept-url pattern="/slider-images/**" access="permitAll" />
		<intercept-url pattern="/styles/**" access="permitAll" />
		<intercept-url pattern="/" access="permitAll" />
		<intercept-url pattern="/index" access="permitAll" />
		<intercept-url pattern="/login**" access="permitAll" />
		<intercept-url pattern="/admin**" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/branches**" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/customers**" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/orders**" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/staffs**" access="hasRole('ROLE_USER')" />
		
		
		<form-login 
		    login-page="/login" 
		    default-target-url="/welcome" 
			authentication-failure-url="/login?error" 
			username-parameter="username"
			password-parameter="password" />
		<logout logout-success-url="/login?logout"  />
		<!-- enable csrf protection -->
		<!-- <csrf/> -->
		<csrf disabled="true"/>
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="test" password="123456" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>

</beans:beans>